<!DOCTYPE html>
<html>
<head>
    <title>Ryan Hermes</title>
    <link rel="stylesheet" type="text/css" href="static/animations.css" />
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <link rel="icon" href="images/favicon-96x96.ico">
</head>
<body>

    <div id="header">
        <h1 id="name">
            <span id="hi">hi, i'm </span>
            <span id="ryan">Ryan Hermes</span>
        </h1>

        <h2 id="description">
            <span>and I am passionate about</span>
            <span id="fintech">biztech</span> <br>
            <span id="aka">(aka business + technology)</span>
        </h2>

        <div id="contact">
            <h3 id="contactme">contact me:</h3>
            <p id="email"><a href="mailto:rryanhermes@gmail.com" style="text-decoration: none; color: #328bff;">rryanhermes@gmail.com</a></p>
            <p id="phone">612-469-1552</p>
            <p id="linkedin"><a href="https://www.linkedin.com/in/ryanhermes" style="text-decoration: none; color: #328bff;">www.linkedin.com/in/ryanhermes</a></p>
        </div>
    </div>

    <script src="static/index.js"></script>
</body>
</html>
